:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #0b0760;
    --color-body: #918ca4;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.5rem;
    line-height: 1.5;
}
h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;
}
@media screen and (min-width :1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}
/* link */
a{
    font-size: 2rem;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: bold;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media screen and (min_width:1024){
.link-arrow{
    font-size: 1.5rem;
}
}
/* badges */
.badges{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding : 0.5rem 1rem;
    white-space: nowrap;
}
.badges--primary{
    background: var(--color-primary);
    color: #fff
}
.badges--secondary{
    background:var(--color-secondary) ;
    color: #fff;

}
@media screen and (min-width:1024px){
.badges{
    font-size: 1.5rem;
}
.badges--primary{
    font-size: 1.2rem;
}
}
/*List*/
.List{
    padding: 0;
    color: var(--color-headings);
}
.inline--list .list--item{
    display: inline-block;
}
.list--tick {
    list-style-image: url(../images/tick.svg);
   padding-left: 3rem;
}
.list--tick .list--item{
    padding-left: .5rem;
    margin-bottom: 1rem;
}
.icon{
    widows: 40px;
    height:40px;
    fill: var(--color-headings);
}
.svg-container{
    background:#f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 30%;
    background-color: var(--color-headings);
    color: white;
    outline: 0;
    margin-left: 2rem;
}
.btn--primary{
    padding:2rem,1.5rem;
}